body {
    margin: 0;
    height: 100%;
    width: 100%
}

#bg, .bg_mask {
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.bg_mask {
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000)
}

img {
    border: 0;
    vertical-align: bottom
}

#mask_body *, #mask_body :after, #mask_body :before {
    box-sizing: content-box
}

#mask_body .protocol {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #999
}

#mask_body .protocol a {
    color: #ff553e;
    text-decoration: none
}

#relevance_account, #pop_body, #multiChallPop {
    display: none;
    box-sizing: content-box;
    position: fixed;
    z-index: 99998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    _position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2)
}

#relevance_account b, #pop_body b, #multiChallPop b {
    float: right;
    display: none;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    margin-right: 63px
}

#relevance_account #mask_body .disabled, #relevance_account #new_mask_body .disabled, #pop_body #mask_body .disabled, #pop_body #new_mask_body .disabled, #multiChallPop #mask_body .disabled, #multiChallPop #new_mask_body .disabled {
    color: #999999
}

#relevance_account .slidecode, #pop_body .slidecode, #multiChallPop .slidecode {
    width: 350px;
    margin: 0 auto;
    clear: both
}

#relevance_account ::-webkit-input-placeholder, #pop_body ::-webkit-input-placeholder, #multiChallPop ::-webkit-input-placeholder {
    color: #CCCCCC
}

#relevance_account :-moz-placeholder, #pop_body :-moz-placeholder, #multiChallPop :-moz-placeholder {
    color: #CCCCCC
}

#relevance_account ::-moz-placeholder, #pop_body ::-moz-placeholder, #multiChallPop ::-moz-placeholder {
    color: #CCCCCC
}

#relevance_account :-ms-input-placeholder, #pop_body :-ms-input-placeholder, #multiChallPop :-ms-input-placeholder {
    color: #CCCCCC
}

.masking, .popup {
    z-index: 99999 !important
}

#close_icon, #close_icon_btn {
    position: absolute;
    top: 38px;
    right: 38px;
    width: 24px;
    height: 24px;
    cursor: pointer
}

#mask_body, #new_mask_body {
    position: absolute;
    top: 100px;
    background-color: #fff;
    margin-left: 50%;
    left: -238px;
    width: 476px;
    padding-top: 62px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px
}

.logo58 {
    height: 36px;
    display: block;
    margin: 0 auto;
    margin-bottom: 26px;
    vertical-align: bottom
}

.write {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px
}

.mask_body_item {
    width: 350px;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    padding: 13px 0;
    clear: both
}

.mask_body_item input {
    width: 331px;
    padding-left: 15px;
    border: 2px solid #EBEBEB;
    height: 36px;
    line-height: unset;
    line-height: 36px \9;
    color: #000;
    outline: none;
    font-size: 14px
}

.mask_body_item input:disabled {
    background: none
}

.mask_body_item input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset
}

.mask_body_item img {
    position: absolute;
    right: 4px;
    top: 17px;
    width: 80px;
    height: 34px;
    cursor: pointer
}

.verifycode_div {
    display: none
}

.error_msg {
    width: 350px;
    font-size: 12px;
    line-height: 14px;
    margin: 0px auto;
    color: #FF552E;
    text-align: left;
    display: none
}

.error_msg span {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url("//img.58cdn.com.cn/passportnew/img/flerroricon.png")
}

#mask_body_item_getvoicecode, #new_mask_body_item_getvoicecode {
    font-style: normal;
    color: #ff552e;
    cursor: pointer
}

#mask_body_item_getcode, #new_mask_body_item_getcode {
    position: absolute;
    padding: 0 6px;
    height: 26px;
    border-radius: 3px;
    background: #EEEEEE;
    color: #ff552e;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
    top: 50%;
    margin-top: -13px;
    right: 8px;
    cursor: pointer
}

.login_item {
    border: none;
    background: #FF552E;
    margin: 25px auto;
    height: 42px;
    padding: 0
}

#mask_body_item_login, #new_mask_body_item_login {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
    line-height: 42px;
    outline: none;
    cursor: pointer
}

#riskmsg, #new_riskmsg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    display: none;
    z-index: 99
}

#riskmsg div, #new_riskmsg div {
    margin: 90px auto;
    width: 400px;
    height: 205px;
    border: 1px solid #999;
    background: #fff;
    text-align: center;
    color: #736e6e
}

#riskmsg p, #new_riskmsg p {
    margin: 40px 40px;
    font-size: 14px;
    text-align: left
}

#riskmsg span, #new_riskmsg span {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background: #ff552e;
    color: #f9eded
}

.chooseChallenge .ability {
    display: none;
    height: 297px
}

.chooseChallenge .ability .item {
    display: none
}

.chooseChallenge .write {
    line-height: 20px;
    font-size: 14px;
    color: #ff552e
}

.chooseChallenge .chooseChallenge_icon {
    display: inline-block;
    vertical-align: bottom;
    width: 17px;
    height: 20px;
    margin-right: 5px
}

.chooseChallenge .item {
    width: 416px;
    border: 1px solid #eee;
    margin: 10px auto;
    padding: 12px 14px
}

.chooseChallenge .item .left {
    float: left;
    text-align: left;
    width: 310px
}

.chooseChallenge .item .left .detail_title {
    font-size: 14px;
    color: #333;
    margin: 0 0 6px 0
}

.chooseChallenge .item .left .detail_tag {
    font-size: 12px;
    color: #999;
    margin: 0
}

.chooseChallenge .item .right {
    float: right;
    width: 90px;
    border-radius: 4px;
    background-color: #ff552e;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    cursor: pointer
}

#identity_challenge {
    display: none;
    text-align: center;
    color: #333;
    font-size: 14px
}

#identity_challenge .title {
    margin: 0 0 40px;
    line-height: 25px;
    font-size: 18px
}

#identity_challenge .item {
    height: 38px;
    width: 344px;
    margin: 30px auto;
    border: 0px solid #eee;
    position: relative
}

#identity_challenge .item label {
    line-height: 38px;
    float: left;
    margin-right: 20px
}

#identity_challenge .item .detail {
    float: left;
    vertical-align: bottom;
    position: relative
}

#identity_challenge .item .detail input {
    line-height: unset;
    line-height: 36px \9;
    border-radius: 2px;
    outline: none;
    background: transparent;
    height: 36px;
    border: 1px solid #e6e6e6;
    padding: 0;
    font-size: 14px
}

#identity_challenge .item .detail #surname {
    width: 60px;
    text-align: center;
    margin-right: 5px
}

#identity_challenge .item .detail #ID_tag {
    display: none;
    width: 242px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    border-bottom: 0;
    margin: 0;
    position: absolute;
    top: -37px;
    left: 0
}

#identity_challenge .item .detail #ID {
    width: 242px;
    padding-left: 10px
}

#identity_challenge .item .detail .msg_identity {
    position: absolute;
    width: 100%;
    top: 48px;
    left: 0
}

#identity_challenge .item .detail .msg_identity label {
    margin: 0;
    float: none;
    line-height: normal
}

#next {
    width: 100%;
    background: #ff552e;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #c7c5c5;
    font-size: 14px;
    text-align: center
}

#choose {
    display: none;
    font-size: 12px;
    color: #999;
    line-height: 17px;
    position: absolute;
    right: 14px;
    top: 54px;
    cursor: pointer
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0
}

#relevance_account .Top_links, #pop_body .Top_links {
    position: absolute;
    width: 476px;
    top: 14px;
    font-size: 12px;
    left: 50%;
    margin-left: -238px
}

#relevance_account .Top_links a, #pop_body .Top_links a {
    text-decoration: none;
    color: #fff
}

#relevance_account .Top_links .backHome, #pop_body .Top_links .backHome {
    float: left
}

#relevance_account .Top_links .goToLogin, #relevance_account .Top_links .register, #pop_body .Top_links .goToLogin, #pop_body .Top_links .register {
    float: right
}

#relevance_account .link_to_other, #pop_body .link_to_other {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    line-height: 25px;
    color: #666;
    display: none
}

#relevance_account .link_to_other span, #pop_body .link_to_other span {
    cursor: pointer
}

#relevance_account .verifycode_div_account, #relevance_account .account_login, #relevance_account .phonenum_login, #relevance_account .qrcode_login, #relevance_account #getUpSmsCode, #relevance_account #reGetUpSmsCode, #relevance_account #tips, #pop_body .verifycode_div_account, #pop_body .account_login, #pop_body .phonenum_login, #pop_body .qrcode_login, #pop_body #getUpSmsCode, #pop_body #reGetUpSmsCode, #pop_body #tips {
    display: none
}

#relevance_account .change_login, #pop_body .change_login {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding: 0;
    height: 55px;
    margin-top: 10px
}

#relevance_account .change_login span, #pop_body .change_login span {
    width: 50%;
    text-align: center;
    float: left;
    cursor: pointer;
    font-size: 16px;
    line-height: 55px;
    color: #666666
}

#relevance_account .change_login .active, #pop_body .change_login .active {
    color: #ff552e;
    border-bottom: 1px solid #ff552e
}

#relevance_account .link_entries, #pop_body .link_entries {
    width: 350px;
    text-align: right;
    margin: 0 auto;
    position: relative;
    height: 22px
}

#relevance_account .link_entries a, #pop_body .link_entries a {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    margin-left: 10px
}

#relevance_account .loginBtn, #pop_body .loginBtn {
    margin-top: 15px
}

#relevance_account .loginBtn button, #pop_body .loginBtn button {
    font-size: 14px;
    padding: 0
}

#relevance_account .mask_body_item_protocol, #pop_body .mask_body_item_protocol {
    width: 350px;
    text-align: center;
    color: #999;
    margin: 20px auto;
    font-size: 14px
}

#relevance_account .mask_body_item_protocol a, #pop_body .mask_body_item_protocol a {
    color: #ff553e;
    text-decoration: none
}

#relevance_account .mask_body_item_third, #pop_body .mask_body_item_third {
    width: 350px;
    margin: 20px auto;
    height: 32px;
    text-align: justify
}

#relevance_account .mask_body_item_third a, #pop_body .mask_body_item_third a {
    font-size: 12px;
    line-height: 32px;
    text-decoration: none;
    color: #999;
    width: 96px;
    height: 32px;
    float: left;
    z-index: 1
}

#relevance_account .mask_body_item_third a img, #pop_body .mask_body_item_third a img {
    width: 32px
}

#relevance_account .mask_body_item_third a span, #pop_body .mask_body_item_third a span {
    float: none;
}

#relevance_account .mask_body_item_third .wechat, #pop_body .mask_body_item_third .wechat {
    margin: 0 31px
}

#relevance_account .change_qrcode, #pop_body .change_qrcode {
    position: absolute;
    right: 12px;
    top: 12px
}

#relevance_account .change_qrcode span, #pop_body .change_qrcode span {
    cursor: pointer;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    float: left;
    width: 73px;
    height: 25px;
    color: #ff8c14
}

#relevance_account .change_qrcode img, #pop_body .change_qrcode img {
    cursor: pointer;
    width: 50px
}

#relevance_account .qrcode_item, #pop_body .qrcode_item {
    text-align: center;
    height: 30px;
    padding: 0
}

#relevance_account .qrcode_item span, #pop_body .qrcode_item span {
    font-size: 18px;
    color: #666;
    line-height: 30px
}

#relevance_account .qrcode_img, #pop_body .qrcode_img {
    height: 210px;
    position: relative;
    margin-top: 30px;
    display: inline-block
}

#relevance_account .qrcode_img, #pop_body .qrcode_img {
    *display: inline
}

#relevance_account .qrcode_login, #pop_body .qrcode_login {
    text-align: center
}

#relevance_account #tips_img, #pop_body #tips_img {
    width: 208px;
    height: 202px;
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/scan_tips.png);
    background-position: -234px -55px;
    background-repeat: no-repeat;
    margin: 0 -45px 0 15px;
    float: left;
    display: none
}

#relevance_account .qrcode_img_code, #pop_body .qrcode_img_code {
    position: relative;
    float: left
}

#relevance_account #qrcode_login_img, #pop_body #qrcode_login_img {
    border: 1px solid #eee;
    padding: 15px;
    width: 150px;
    height: 150px
}

#relevance_account .img_mask, #pop_body .img_mask {
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 180px;
    width: 180px;
    background: rgba(255, 255, 255, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5ffffff, endColorstr=#E5ffffff)
}

#relevance_account .img_mask_p, #pop_body .img_mask_p {
    font-family: HiraginoSansGB-W3;
    font-size: 18px;
    color: #000;
    margin-top: 57px;
    margin-bottom: 14px
}

#relevance_account .img_mask_span, #pop_body .img_mask_span {
    width: 108px;
    height: 34px;
    line-height: 34px;
    background: #ff552e;
    font-family: HiraginoSansGB-W3;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    cursor: pointer
}

#relevance_account .tips_download, #pop_body .tips_download {
    margin: 33px auto 23px;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 17px;
    height: 17px
}

#relevance_account .tips_download a, #pop_body .tips_download a {
    color: #f4691c;
    text-decoration: none
}

#relevance_account .scan, #pop_body .scan {
    margin-top: 26px
}

#relevance_account .scan_success, #pop_body .scan_success {
    display: none;
    margin: 60px 0
}

#relevance_account .scan_success .p1, #pop_body .scan_success .p1 {
    font-size: 20px;
    color: #666;
    margin: 20px 0 12px 0
}

#relevance_account .scan_success .p2, #pop_body .scan_success .p2 {
    font-size: 14px;
    color: #333
}

.links_botton {
    position: absolute;
    width: 476px;
    margin-left: -238px;
    bottom: -46px;
    font-size: 12px;
    left: 50%
}

.links_botton a {
    color: #f6f6f6;
    float: left;
    width: 33%;
    text-align: center;
    font: 12px/1.2 "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, arial, Tahoma, SimSun, sans-serif;
    text-decoration: none
}

#pop_body b label, #relevance_account b label {
    color: #999;
    cursor: pointer
}

#pop_body .overflow {
    position: absolute;
    width: 100%;
    height: 100%
}

#changeLoginMode {
    position: absolute;
    right: 0;
    line-height: 14px;
    font-size: 12px;
    cursor: pointer
}

#bindUser {
    margin-bottom: 40px
}

#bindUser #mask_body_item_login {
    opacity: 0.5
}

.changeLoginMode_div {
    padding: 0;
    height: 14px
}

.clash_text {
    width: 350px;
    margin: 0 auto
}

.clash_text p {
    text-align: center;
    font-size: 16px;
    margin: 12px 0;
    color: #999
}

.clash_text .name {
    color: #000
}

.clash_link {
    margin: 10px 0;
    font-size: 12px
}

.clash_link span {
    cursor: pointer
}

.clash_link .toLogin {
    float: right;
    color: #ff552e
}

.clash_link .toBack {
    color: #999
}

.clash_item {
    margin-bottom: 55px
}

.clash_item #mask_body_item_login {
    font-size: 12px
}

.third_middle_page {
    background: url(//img.58cdn.com.cn/ui6/my/images/reg-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    margin: 0;
    width: 100%
}

.third_middle_page .img {
    width: 800px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -400px 0 0 -400px
}

.third_middle_page .p {
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -400px;
    text-align: center;
    color: #fff;
    font-size: 25px
}

.relevance_logos {
    width: 350px;
    height: 60px;
    margin: 2px auto 32px;
    white-space: nowrap
}

.relevance_logos img {
    vertical-align: middle;
    height: 100%
}

.relevance_btn #mask_body_item_login {
    opacity: 0.5
}

.reelevance_bottom_tips {
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: -5px auto 64px
}

.relevance_for_super {
    display: none;
    text-align: center
}

.relevance_for_super p {
    margin: 10px 0;
    font-size: 16px;
    color: #666
}

.relevance_for_super p span {
    color: #000
}

.relevance_for_super .change_account span {
    font-size: 14px;
    color: #ff552e;
    cursor: pointer
}

#relevanceCallbackPop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    z-index: 99
}

#relevanceCallbackPop .relevance_callback_pop_body {
    position: relative;
    margin: 240px auto 0;
    width: 548px;
    background: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px
}

#relevanceCallbackPop .relevance_callback_pop_body #rel_close_icon {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    height: 16px;
    width: 16px
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_title {
    height: 36px
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_title img {
    width: 36px;
    height: 36px
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_title span {
    line-height: 36px;
    font-size: 24px;
    color: #333
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_msg {
    font-size: 16px;
    margin: 29px auto 20px;
    color: #666
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_tips {
    width: 508px;
    margin: 0 auto 40px;
    border-top: 1px solid #ddd;
    padding-top: 16px
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_tips p {
    font-size: 16px;
    color: #a0a0a0;
    margin: 5px 0;
    text-align: left
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_tips p a {
    color: #ff552e;
    margin: 0 2px;
    text-decoration: none
}

#relevanceCallbackPop .relevance_callback_pop_body .rel_btn {
    width: 309px;
    height: 40px;
    border: 1px solid #ff552e;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
    color: #ff552e
}

#mask_body .appeal {
    text-align: right;
    width: 350px;
    margin: 0 auto -14px
}

#mask_body .appeal a {
    font-size: 12px;
    color: #666;
    text-decoration: none
}

.third_content {
    padding: 0 40px 40px 40px
}

.third_title {
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin-top: 25px;
    font-weight: 500
}

.third_text {
    margin-top: 15px;
    text-align: left
}

.third_text > :first-child {
    text-align: left;
    color: #333;
    font-size: 14px
}

.third_text > :last-child {
    float: right;
    color: #999;
    font-size: 12px
}

.unsureThird {
    width: 476px;
    height: 618px;
    background: #fff;
    border-radius: 2px;
    color: #ffffff
}

.ensureThird {
    width: 136px;
    height: 54px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ff552e
}

.button_third {
    padding: 0 40px 40px
}

.third_text img {
    height: 16px;
    vertical-align: middle;
    margin-right: 10px
}

#secmobile, #idcard {
    color: #333;
    font-size: 14px;
    margin-left: 16px
}

#unsureThird {
    width: 244px;
    height: 54px;
    background: #ff552e;
    border: 1px solid #ff552e;
    border-radius: 2px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    padding: 0;
    cursor: pointer
}

#ensureThird {
    width: 136px;
    height: 54px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #ff552e;
    color: #ff552e;
    font-size: 18px;
    padding: 0;
    float: right;
    cursor: pointer
}

#sanwang, #auth, #weibo, #qq, #weixin, #emial_box, #third {
    display: none
}

.third_warn {
    cursor: auto !important
}

#pop_body_multi {
    display: none;
    box-sizing: content-box;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll
}

.mutli_header {
    height: 180px;
    padding: 0 100px 0 132px;
    position: relative;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 50px
}

.multi_challenge:hover {
    color: #FF552E;
    background: rgba(255, 85, 46, 0.05);
    border-radius: 2px;
    border: 1px solid #FF552E
}

.multi_challenge:hover p {
    color: #ff552e
}

.mutli_left {
    position: absolute;
    bottom: 42px
}

.mutli_left img {
    height: 40px;
    padding-right: 17px;
    border-right: 1px solid #D8D8D8
}

.mutli_left a {
    text-decoration: none;
    padding-left: 17px;
    font-size: 19px;
    color: #999999
}

.mutli_right {
    position: absolute;
    right: 100px;
    bottom: 42px
}

.mutli_right a {
    text-decoration: none;
    font-size: 15px;
    line-height: 15px;
    color: #323232;
    padding-left: 13px
}

.mutli_right .loginin {
    padding-right: 13px;
    border-right: 1px solid #323232
}

.mutli_content {
    text-align: center;
    padding-bottom: 40px;
    overflow: auto
}

.mutli_content .multi_title {
    font-size: 30px;
    color: #333;
    line-height: 30px
}

.mutli_content .multi_label {
    font-size: 14px;
    color: #999999;
    line-height: 19px;
    margin-top: 16px;
    margin-bottom: 32px
}

.multi_appeal {
    display: none;
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-top: 20px
}

.multi_appeal a {
    color: #FF5C38;
    text-decoration: underline
}

.multi_challenge {
    width: 309px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin: 0 auto
}

.multi_challenge img {
    height: 49px
}

.multi_challenge p {
    font-size: 16px;
    color: #333;
    line-height: 40px;
    margin: 0
}

.customization_title {
    color: #333333;
    text-align: center;
    font-size: 20px
}

.upSms {
    text-align: center;
    padding-bottom: 40px
}

.upSms_content {
    margin-top: 40px;
    margin-bottom: 32px
}

.upSms_content p {
    color: #333333;
    font-size: 16px
}

.upSms_content p span {
    color: #FF552E
}

.upSms_content #upSmsCode {
    font-size: 40px;
    font-weight: 500;
    color: #333;
    line-height: 40px;
    letter-spacing: 3px;
    margin-top: 32px
}

#getUpSmsCode {
    font-size: 14px;
    color: #666666
}

#getUpSmsCode #mask_body_item_getcode {
    position: relative !important;
    background: none !important;
    right: 0 !important
}

#reGetUpSmsCode {
    font-size: 14px;
    color: #FF552E
}

#reGetUpSmsCode_label {
    text-decoration: underline
}

.qrcode_label {
    margin-top: 47px;
    font-size: 14px;
    color: #666;
    line-height: 21px;
    text-align: center;
    margin-bottom: 40px
}

.qrcode_label span {
    color: #FF552E
}

#qrcode {
    text-align: center;
    height: 182px
}

#qrcode iframe {
    height: 290px !important
}

.otherChallenge {
    margin-top: 16px
}

.bg {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none
}

.multi_challenge_pop {
    width: 98px;
    width: 309px;
    background: #fff;
    border-radius: 2px
}

.multi_type_pop {
    width: max-content;
    margin: 0 auto
}

.otherChallenge_pop {
    margin-bottom: 0;
    margin-top: 16px
}

.multi_title_pop {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    margin: 16px 0
}

.mutli_pop_title {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    line-height: 70px;
    border-bottom: 1px solid #F3F3F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 30px;
    text-align: left
}

.multi_box {
    padding-top: 28px !important
}

#RlrzPop {
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.24)
}

input::-ms-clear, input::-ms-reveal {
    display: none
}

input::-webkit-credentials-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0
}

#mask_body_item_user_name, #mask_body_item_remember_pwd {
    position: relative
}

#user_list_icon, #user_list_eyes, #user_list_clear {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 13px;
    top: 26px;
    background-size: 11px 6px;
    background-repeat: no-repeat;
    background-position: 2px 5px;
    cursor: pointer;
    display: none
}

#user_list_eyes, #user_list_clear {
    background-size: 16px 16px;
    background-position: 0px 0px
}

#user_list_clear {
    height: 16px;
    width: 16px;
    background-size: 10px 10px;
    background-position: 3px 3px;
    right: 32px;
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/close_active.png)
}

#user_list_icon.user-list-down {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-down.png)
}

#user_list_icon.user-list-up {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-up.png)
}

#user_list_eyes.password-hide {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-hide.png)
}

#user_list_eyes.password-show {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-show.png)
}

#user_list_body {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    list-style: none;
    padding: 0;
    z-index: 1;
    border-bottom: 1px solid #EBEBEB;
    max-height: 186px;
    margin: 0;
    overflow-y: auto
}

#user_list_body li {
    position: relative;
    background-color: #fff;
    height: 37px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    line-height: 37px;
    text-indent: 15px;
    color: #999999;
    font-size: 12px;
    font-family: HiraginoSansGB-W3, HiraginoSansGB;
    cursor: pointer
}

#user_list_body li span {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 11px;
    right: 13px;
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/close.png);
    background-size: 10px 10px;
    background-position: 2px 2px;
    background-repeat: no-repeat
}

#user_list_body li.active {
    color: #ff552e;
    background-color: #f5f5f5
}

#user_list_body li.active span {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/close_active.png)
}

#link_entries_btns_phone span, #link_entries_btns span, #user_list_body li {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

#link_entries_btns, #link_entries_btns_phone {
    display: none;
    position: absolute;
    height: 17px;
    top: 5px;
    left: 0;
    line-height: 17px;
    font-size: 12px;
    color: #999999
}

#link_entries_btns span, #link_entries_btns_phone span {
    margin-right: 16px
}

#link_entries_btns a, #link_entries_btns_phone a {
    height: 17px;
    width: 17px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 0 0;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 4px;
    cursor: pointer
}

#link_entries_btns a, #link_entries_btns_phone a {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-uncheck.png)
}

#link_entries_btns a.active, #link_entries_btns_phone a.active {
    background-image: url(//img.58cdn.com.cn/git/teg-app-fe/passport-pc-ui/img/user-list-check.png)
}

.later_set_chall {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #999999;
    cursor: pointer
}

.set_latter_box {
    margin-top: 20px;
    text-align: center
}

.security_box {
    padding-top: 68px !important
}

.security_con {
    margin-top: 22px
}

.security_context {
    font-size: 20px;
    color: #333;
    margin-bottom: 32px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 32px
}

#sub_contract_name {
    height: 46px;
    width: 48px;
    margin: 0 10px
}

#sub_contract_name_sub {
    height: 46px;
    width: 158px;
    margin-left: 10px
}

#contract_name {
    margin-right: 10px;
    font-size: 14px;
    color: #333
}

.cont_num {
    font-size: 16px;
    color: #666
}

#tooltip {
    height: 16px;
    vertical-align: middle
}

.editor_bubble {
    position: absolute;
    z-index: 1;
    left: 285px;
    background: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.07);
    width: 300px
}

.editor_bubble .editor_bubble_arrow {
    height: 14px;
    width: 14px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    top: -7px;
    left: 50%;
    z-index: 1;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.07);
    background-color: #fff
}

.editor_bubble .editor_bubble_body {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 15px 20px
}

.editor_bubble .editor_bubble_body span {
    font-size: 12px;
    color: #333
}

.login_item_class {
    padding: 0
}

#security_success {
    text-align: center
}

.display_app, .set_latter_dis {
    display: none
}

.security_guide {
    padding-bottom: 40px
}

.security_guide #mask_body_item_getvoicecode {
    color: #999999;
    margin-bottom: 40px
}

.success_img {
    margin-bottom: 20px
}

#ensure_security_pwd {
    width: 350px;
    height: 42px;
    border: 1px solid #FF552E;
    background-color: rgba(0, 0, 0, 0);
    color: #ff552e;
    font-size: 16px;
    margin-top: 7px;
    padding: 0px;
    cursor: pointer
}

#sub_contract_name, #sub_contract_name_sub {
    font-size: 20px
}
